// Colors
// FFFFFF
// 129490
// 040F0F
// COLORS
$color-primary: #129490;
$color-primary-light: #61eee9;
$color-primary-dark: #226d6b;

$color-secondary: #ffffff;

$color-tertiary-light: #0a2121;
$color-tertiary: #040f0f;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-red: red;

// FONT
$default-font-size: 1.3rem;

// BORDER RADIUS
$border-radius-size: 1rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 6rem;
