.manageInsurersHeaderBox{
   margin: 2rem 1.5rem;
}
.addInsurerBtn{
    float: right;
    margin-top: -8rem;
    &_link{
        text-decoration: none;
    }
    
}
.insurersListBox{
    padding: 1rem 3rem;
}