.accountBodyHeaderBox{
    margin: 2rem 1.5rem;
 }
 .mainInfo{
        border-bottom: 2px solid green;
      
 }
.text_box{
    margin-top: 2rem !important;
}
 .avatar__box{
    height: 10rem;
    
    &_avatar{
        height: 9rem;
        margin-left: 1rem;
    }
 }